
.first-box-container {
  width: 200px;
  height: 100px;
  background-color: red;
  position: absolute;
  left: 0px;
}

.second-box-container {
  width: 200px;
  height: 100px;
  background-color: yellow;
  position: absolute;
  left: 200px;
}

.third-box-container {
  width: 200px;
  height: 100px;
  background-color: green;
  position: absolute;
  left: 400px;
}

