p {color: blue;}
.first-box-container {
  width: 200px;
  height: 100px;
  background-color: red;
  position: absolute;
  left: 0px;
  border-width: 20px;
  border-color: green;
  border-style: solid;
  text-transform: uppercase;
  text-align: center;
}

.second-box-container {
  width: 200px;
  height: 100px;
  background-color: yellow;
  position: absolute;
  left: 250px;
  border-width: 20px;
  border-color: red;
  border-style: solid;
  text-transform:uppercase;
  text-align: center;

}

.third-box-container {
  width: 200px;
  height: 100px;
  background-color: green;
  position: absolute;
  left: 500px;
  border-width: 20px;
  border-color: yellow;
  border-style: solid;
  text-transform: uppercase;
  text-align: center;

}

